{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'plugins/bootstrap-5.3.7/css/bootstrap.css' %}">

</head>

<body>
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container">
            <a class="navbar-brand" href="#">单位宿舍人员管理</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#">管理员账户</a>
                    </li>
                    <li>
                        <a class="nav-link" href="#">宿舍水电管理</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link " aria-disabled="true">部门管理</a>
                    </li>
                </ul>
                <ul class="abc">
                    <li type="none" class="a">
                        <a href="#" class="nav-link" style="float: right">登录</a>
                    </li>
                    <li type="none">
                        注册
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="container">
        <div class="card" style="width: 81rem;margin-top: 10px;">
            <div class="card-header">
                编辑信息
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">
                    <form method="POST">
                        {% csrf_token %}
                        {%for field in form%}
                        <div class="mb-3">
                            <label for="exampleFormControlInput1" class="form-label"> {{field.label}}</label>
                            {{field}}
                            <span style="color: red;">{{form.errors.0}}</span>
                            {%endfor%}
                        </div>
                        <div class="container">
                            <div class="d-grid gap-2">
                                <button class="btn btn-primary" type="submit">提交信息</button>
                            </div>



                            </div>
                </li>

            </ul>
        </div>




</body>

</html>